.color{
  color: hsl(240, 38%, 20%);
  color: hsl(240, 18%, 77%);
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
section{
  width: 60%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 70vh;
  background-image: url(/images/pattern-bg.svg), url(/images/pattern-curve.svg);
  background-size: contain, 50% auto;
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
  position: relative;
}

.btn-container{
  position: absolute;
  z-index: 20;
  display: flex;
  right: 35%;
  bottom: 30px;
  cursor: pointer;
}
.btn-container .prev{
  padding: 6px 12px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 4px 4px 10px hsl(240, 18%, 77%);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn-container .next{
  padding: 6px 12px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 4px 4px 10px hsl(240, 18%, 77%);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.one, .two{
  display: flex;
  align-items: center;
}
.left{
  width: 50%;
  margin-right: -40px;
  z-index: 10;
}
.comment{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
.name{
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}
.name span{
  color: hsl(240, 38%, 20%, 0.3);
}
.one .right{
  width: 50%;
  background: url(/images/image-tanya.jpg) no-repeat;
  background-size: cover;
  height: 350px;
  z-index: 5;
  border-radius: 5px;
}
.two .right{
  width: 50%;
  background: url(/images/image-john.jpg) no-repeat;
  background-size: cover;
  height: 350px;
  z-index: 5;
  border-radius: 5px;
}
.two{
  display: none;
}
.attribution{
  text-align: center;
}
